<?xml version="1.0" encoding="utf-8"?>
<packages>

  <package id="DevExpress.Charts" version="25.1.5" targetFramework="net48" />
  <package id="DevExpress.Charts.Core" version="25.1.5" targetFramework="net48" />
  <package id="DevExpress.CodeParser" version="25.1.5" targetFramework="net48" />
  <package id="DevExpress.Data" version="25.1.5" targetFramework="net48" />
  <package id="DevExpress.Data.Desktop" version="25.1.5" targetFramework="net48" />
  <package id="DevExpress.DataAccess" version="25.1.5" targetFramework="net48" />
  <package id="DevExpress.DataAccess.UI" version="25.1.5" targetFramework="net48" />
  <package id="DevExpress.DataVisualization.Core" version="25.1.5" targetFramework="net48" />
  <package id="DevExpress.Diagram.Core" version="25.1.5" targetFramework="net48" />
  <package id="DevExpress.Drawing" version="25.1.5" targetFramework="net48" />
  <package id="DevExpress.Images" version="25.1.5" targetFramework="net48" />
  <package id="DevExpress.Office.Core" version="25.1.5" targetFramework="net48" />
  <package id="DevExpress.Pdf.Core" version="25.1.5" targetFramework="net48" />
  <package id="DevExpress.Pdf.Drawing" version="25.1.5" targetFramework="net48" />
  <package id="DevExpress.PivotGrid.Core" version="25.1.5" targetFramework="net48" />
  <package id="DevExpress.Printing.Core" version="25.1.5" targetFramework="net48" />
  <package id="DevExpress.RichEdit.Core" version="25.1.5" targetFramework="net48" />
  <package id="DevExpress.RichEdit.Export" version="25.1.5" targetFramework="net48" />
  <package id="DevExpress.Sparkline.Core" version="25.1.5" targetFramework="net48" />
  <package id="DevExpress.Utils" version="25.1.5" targetFramework="net48" />
  <package id="DevExpress.Utils.UI" version="25.1.5" targetFramework="net48" />
  <package id="DevExpress.Win" version="25.1.5" targetFramework="net48" />
  <package id="DevExpress.Win.Charts" version="25.1.5" targetFramework="net48" />
  <package id="DevExpress.Win.Diagram" version="25.1.5" targetFramework="net48" />
  <package id="DevExpress.Win.Grid" version="25.1.5" targetFramework="net48" />
  <package id="DevExpress.Win.Navigation" version="25.1.5" targetFramework="net48" />
  <package id="DevExpress.Win.PivotGrid" version="25.1.5" targetFramework="net48" />
  <package id="DevExpress.Win.Printing" version="25.1.5" targetFramework="net48" />
  <package id="DevExpress.Win.RichEdit" version="25.1.5" targetFramework="net48" />
  <package id="DevExpress.Win.TreeList" version="25.1.5" targetFramework="net48" />
  <package id="DevExpress.Win.VerticalGrid" version="25.1.5" targetFramework="net48" />
  <package id="DevExpress.Xpo" version="25.1.5" targetFramework="net48" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="8.0.0" targetFramework="net48" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net48" />
  <package id="System.Memory" version="4.5.5" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net48" />
  <package id="System.Text.Encodings.Web" version="8.0.0" targetFramework="net48" />
  <package id="System.Text.Json" version="8.0.5" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net48" />
  <package id="MySql.Data" version="8.4.0" targetFramework="net48" />
</packages>
